<ion-view view-title="Contato para jogos">
  <ion-content class="padding">
  
    <center>

      <img src="img/contato.jpg" height="180" style="margin-top: 35px;" />
      <br />
      <br />
      FALAR COM NETO <br />
      RES: <span style="font-size: 20px; font-weight:bold;">(11) 5933-8470 </span> <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CEL: <span style="font-size: 20px; font-weight:bold;">(11) 96656-6811 </span> <img src="img/whats.jpg" height="18" /> <br />
      Email: <a href='mailto:manoel_nascimento2006@hotmail.com'>manoel_nascimento2006@hotmail.com</a>
    </center>
    
  </ion-content>
</ion-view>
