<ion-view view-title="História do Grancoco">
  <ion-content class="padding">
  <p>
    <h2>Futebol e Amizade</h2>
  </p>
    <p>
    Em 18 de Outubro de 1995 no bar do Alemão no Jd. Noronha na zona sul de São Paulo, terminava o time que levava o mesmo nome do bairro. Alguns jogadores decidiram então criar um novo time, ali nasceu o Grancoco. A origem do nome veio de uma bebida que os jogadores costumavam beber após as partidas, um licor chamado Grancoco.<br />
    <center>
      <img src="img/garrafa_grancoco.jpeg" height="180" /><p>
      <em>Um dos últimos exemplares da garrafa.</em></p>
    </center>
    </p>
    <p>
      O primeiro presidente do time foi Heilson Marques Costa (vulgo Coco).
    </p>
    <p>
    No seu início, o time jogava festivais, campeonatos e amistosos aos arredores do Grajaú. Promoveu a Primeira Copa Grancoco em 2009 (disputada no extinto campo do Pioneiro) o qual a organização do início ao fim do campeonato é um fato lembrado até hoje pelos participantes. Também realizou inúmeras excursões ao longo de todos esses anos, sempre com muito futebol e amizade.
    </p>
    <p>
    Hoje em dia, manda a maioria de seus jogos no campo do Águia Negra, instituição parceira há anos.
    </p>
    <p>
      A sede do Grancoco fica na Rua Principal, 3 - No famoso Bar do Primo no Jardim Novo Jaú.
    </p>
  </ion-content>
</ion-view>
